<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creendengo Score</title>
  </head>
  <body>
    <header>
      <form name="branch-selection">
        <label for="branch-select">Select branch:</label>
        <select name="branch" id="branch-select"></select>
      </form>
    </header>
    <main>
      <strong class="score">Score: Not Loaded</strong>
    </main>
    <footer>
      <div>
        Provided by 
        <img src="favicon.png" width="16" height="16" alt="" title="Creedengo logo">
        <a href="https://github.com/green-code-initiative">Creedengo</a>
      </div>
      <hr>
      <output class="error-messages"></output>
    </footer>
  </body>
</html>